* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFF;
    --black: #000;
    --primary-green: #B2D235;
}

body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

header {
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    gap: 35px;
    height: 80px;
    padding: 10px 32px;
    color: var(--white);
}

.logo {
    width: 120px;
    height: 60px;
}

header article {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 385px;
    justify-content: space-between;
}

article a {
    font-size: 14px;
    font-weight: 500px;
    cursor: pointer;
}

.sign-in {
    display: flex;
    gap: 30px;
    height: 40px;
    align-items: center;
}

.sign-in button {
    height: 100%;
    background-color: var(--primary-green);
    border-radius: 20px;
    width: 117px;
    color: var(--white);
    cursor: pointer;
}

.search-section {
    height: 503px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
    place-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 566px;
    max-height: 224px;
}

.search h1 {
    font-size: 50px;
    font-weight: 600px;
    line-height: 100%;
}

.search-bar {
    position: relative;
    width: 541px;
    height: 70px;
    align-self: flex-start;
}

.location-pin {
    position: absolute;
    top: 34%;
    left: 3%;
    width: 16px;
    height: 21.33px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    font-size: 18px;
    padding: 0 40px;
    border: none;
    border-color: var(--white);
    box-shadow: 0 1px 3px #a1a0a0;
}

.search-icon {
    position: absolute;
    top: 6px;
    right: 15px;
}