* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFF;
    --black: #000;
    --primary-green: #B2D235;
    --red: #FE5D26;
    --light-gray: #F4F4F4;
}

body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

/* Header */

header {
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    gap: 35px;
    height: 80px;
    padding: 10px 32px;
    color: var(--white);
}

.logo {
    width: 120px;
    height: 60px;
}

header article {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 385px;
    justify-content: space-between;
}

article a {
    font-size: 14px;
    font-weight: 500px;
    cursor: pointer;
}

.sign-in {
    display: flex;
    gap: 30px;
    height: 40px;
    align-items: center;
}

.sign-in button {
    height: 100%;
    background-color: var(--primary-green);
    border-radius: 20px;
    width: 117px;
    color: var(--white);
    cursor: pointer;
}

/* Search Section */

section {
    margin-bottom: 20px;
}

.search-section {
    height: 503px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
    place-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 566px;
    max-height: 224px;
}

.search h1 {
    font-size: 50px;
    font-weight: 600px;
    line-height: 100%;
}

.search-bar {
    position: relative;
    width: 541px;
    height: 70px;
    align-self: flex-start;
}

.location-pin {
    position: absolute;
    top: 34%;
    left: 3%;
    width: 16px;
    height: 21.33px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    font-size: 18px;
    padding: 0 40px;
    border: none;
    border-color: var(--white);
    box-shadow: 0 1px 3px var(--light-gray);
}

.search-icon {
    position: absolute;
    top: 6px;
    right: 15px;
}

/* Listings Section */

.listings-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 510px;
}

.listings-section h2 {
    font-size: 32px;
}

.listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.listing-card {
    position: relative;
}

.categories {
    position: absolute;
    top: 12px;
    left: 12px;
}

.categories span {
    padding: 6px 18px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--white);
    margin-left: 5px;
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--primary-green);
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 158px);
    column-gap: 25px;
    row-gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
}

.listing-name-and-address p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    color: #cfcece;
}

.distance {
    display: flex;
    justify-content: flex-end;
}

.distance p {
    color: #bebebe;
    font-size: 12px;
    opacity: 50%;
}

.distance img {
    width: 7.5px;
    height: 10px;
    margin-top: 2px;
    margin-right: 3px;
}

.amenities img {
    margin-right: 8px;
}

.price {
    padding: 0 15px 5px;
    display: flex;
    justify-content: space-between;
}

.price p {
    font-size: 18px;
}

.price > div {
    display: flex;
    gap: 10px;
}

.like-share {
    background-color: var(--light-gray);
    border-radius: 40%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .like-share:hover {

} */