* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFF;
    --black: #000;
    --primary-green: #B2D235;
    --red: #FE5D26;
    --light-gray: #F4F4F4;
    --primary-gray: #808080;
}

body {
    height: 100%;
    font-family: Montserrat, sans-serif;
}

/* Header */

header {
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    gap: 35px;
    height: 80px;
    padding: 10px 32px;
    color: var(--white);
}

.logo {
    width: 120px;
    height: 60px;
}

header > div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 385px;
    justify-content: space-between;
}

header div a {
    font-size: 14px;
    font-weight: 500px;
    cursor: pointer;
}

.sign-in {
    display: flex;
    gap: 30px;
    height: 40px;
    align-items: center;
}

.sign-in button {
    height: 100%;
    background-color: var(--primary-green);
    border-radius: 20px;
    width: 117px;
    color: var(--white);
    cursor: pointer;
}

/* Search Section */

section {
    margin-bottom: 20px;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 566px;
    max-height: 224px;
}

.search h1 {
    font-size: 50px;
    font-weight: 600px;
    line-height: 100%;
}

.search-bar {
    position: relative;
    width: 541px;
    height: 70px;
    align-self: flex-start;
}

.location-pin {
    position: absolute;
    top: 34%;
    left: 3%;
    width: 16px;
    height: 21.33px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    font-size: 18px;
    padding: 0 40px;
    border: none;
    border-color: var(--white);
    box-shadow: 0 1px 3px var(--light-gray);
}

.search-icon {
    position: absolute;
    top: 6px;
    right: 15px;
}

/* Listings Section */

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.listings h3 {
    font-weight: 600;
}

h2 {
    font-size: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    position: relative;
}

.card {
    position: relative;
    border-radius: 6px;
    background-color: var(--white);
}

.categories {
    position: absolute;
    top: 12px;
    left: 12px;
}

.categories span {
    padding: 6px 18px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--white);
    margin-left: 5px;
}

.card > img {
    border-radius: 6px 6px 0 0;
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--primary-green);
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 25px;
    row-gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
}

.name-and-address p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    color: #cfcece;
}

.distance {
    display: flex;
    justify-content: flex-end;
}

.distance p {
    color: var(--primary-gray);
    font-size: 12px;
    opacity: 50%;
}

.distance img {
    width: 7.5px;
    height: 10px;
    margin-top: 2px;
    margin-right: 3px;
}

.amenities img {
    margin-right: 8px;
}

.price {
    padding: 0 15px 5px;
    display: flex;
    justify-content: space-between;
}

.price p {
    font-size: 18px;
}

.price > div {
    display: flex;
    gap: 10px;
}

.share {
    background-color: var(--light-gray);
    border-radius: 40%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px var(--light-gray);
}

.share:hover {
    background-color: var(--primary-green);
}

/* .like-share:hover img {
    color: var(--white);
} */

.selection {
    display: flex;
    gap: 10px;
}

.selection div {
    background-color: var(--light-gray);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
}

.selection div:first-of-type {
    background-color: var(--white);
    border: 2px solid var(--primary-green);
}

/* Events Section */

.events {
    background-color: #FAFAFA;
}

.events-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: var(--primary-gray);
}

.events-nav ul a {
    cursor: pointer;
}

.events-nav ul li:first-of-type {
    color: var(--primary-green);
    border-bottom: 2px solid var(--primary-green);
}

.events .card {
    box-shadow: 0 1px 5px var(--primary-gray);
}

.events .date {
    position: absolute;
    right: 15px; 
    width: 63px;
    height: 57px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary-green);
    padding: 5px;
    border-radius: 3px;
}

.events .name-and-address h3{
    font-weight: 400;
}

.events .info-grid {
    border: none;
    padding: 10px 15px;
}

.events .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
}

.events .buttons > div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.events .buttons > img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.follower-count {
    font-size: 12px;
    color: var(--primary-green);
}

.events .scroll-button {
    background-color: var(--primary-green);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    z-index: 1;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: calc(50% - 16px);
}

.left {
    left: -16px;
}

.right {
    right: -16px;
}